<div class="container-fluid bg-light vh-100 d-flex align-items-sm-start justify-content-center" style="padding-top: 10vh;">
    
    <div class="container" *ngIf="!isUserForm">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <h2 class="fs-20 fw-normal text-center text-secondary mb-4">cadastro de clientes</h2>
                        <p class="fw-normal text-center text-secondary mb-4">informe seu endereço</p>
                        <form [formGroup]="addressForm">
                            <div class="row gy-2 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input id="zipCode" formControlName="zipCode" type="text" class="form-control"
                                        mask="00000-000" (change)="onCepChange()" required
                                        />
                                        <label for="zipCode" class="form-label">CEP</label>
                                        <div *ngIf="addressZipCode?.invalid && (addressZipCode?.dirty || addressZipCode?.touched)">
                                            <small *ngIf="addressZipCode?.errors??['required']">CEP é obrigatório.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input id="state" formControlName="state" type="text" maxlength="2" class="form-control" required />
                                        <label for="state" class="form-label">estado</label>
                                        <div *ngIf="addressState?.invalid && (addressState?.dirty || addressState?.touched)">
                                            <small *ngIf="addressState?.errors??['required']">estado é obrigatório.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input id="city" formControlName="city" type="text" class="form-control" required />
                                        <label for="city" class="form-label">cidade</label>
                                        <div *ngIf="addressCity?.invalid && (addressCity?.dirty || addressCity?.touched)">
                                            <small *ngIf="addressCity?.errors??['required']">cidade é obrigatório.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input id="neighborhood" formControlName="neighborhood" type="text" class="form-control" required />
                                        <label for="neighborhood" class="form-label">bairro</label>
                                        <div *ngIf="addressNeighborhood?.invalid && (addressNeighborhood?.dirty || addressNeighborhood?.touched)">
                                            <small *ngIf="addressNeighborhood?.errors??['required']">bairro é obrigatório.</small>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input id="street" formControlName="street" type="text" class="form-control" required />
                                        <label for="street" class="form-label">rua</label>
                                        <div *ngIf="addressStreet?.invalid && (addressStreet?.dirty || addressStreet?.touched)">
                                            <small *ngIf="addressStreet?.errors??['required']">rua é obrigatório.</small>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input id="number" formControlName="number" type="text" class="form-control" required/>
                                        <label for="number" class="form-label">número</label>
                                        <div *ngIf="addressNumber?.invalid && (addressNumber?.dirty || addressNumber?.touched)">
                                            <small *ngIf="addressNumber?.errors??['required']">número é obrigatório.</small>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input id="complement" formControlName="complement" type="text" class="form-control" /> 
                                        <label for="complement" class="form-label">complemento</label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg w-100" (click)="onSubmit()" [disabled]="(userForm.invalid || addressForm.invalid)">cadastrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="isUserForm">
        <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
            <div class="card border border-light-subtle rounded-3 shadow-sm">
                <div class="card-body p-3 p-md-4 p-xl-5">
                <h2 class="fs-20 fw-normal text-center text-secondary mb-4">cadastro de clientes</h2>
                <p class="fw-normal text-center text-secondary mb-4">preencha com suas informações pessoais</p>
                <form [formGroup]="userForm">
                    <div class="row gy-2 overflow-hidden">
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input id="cpf" formControlName="cpf" type="text" class="form-control" mask="000.000.000-00" />
                                <label for="cpf" class="form-label">cpf</label>
                                <div *ngIf="userCpf?.invalid && (userCpf?.dirty || userCpf?.touched)">
                                    <small *ngIf="userCpf?.errors??['required']">cpf é obrigatório.</small>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input id="name" formControlName="name" type="text" class="form-control" />
                                <label for="name" class="form-label">nome</label>
                                <div *ngIf="userName?.invalid && (userName?.dirty || userName?.touched)">
                                    <small *ngIf="userName?.errors??['required']">nome é obrigatório.</small>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input id="email" formControlName="email" type="email" class="form-control" />
                                <label for="email" class="form-label">email</label>
                                <div *ngIf="userEmail?.invalid && (userEmail?.dirty || userEmail?.touched)">
                                    <small *ngIf="userEmail?.errors??['required']">email é obrigatório. </small>
                                    <small *ngIf="userEmail?.errors??['email']">email inválido.</small>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-12">
                            <div class="form-floating mb-3">
                                <input id="phone" formControlName="phone" type="text" class="form-control" mask="(00)00000-0000" />
                                <label for="phone" class="form-label">telefone</label>
                                <div *ngIf="userPhone?.invalid && (userPhone?.dirty || userPhone?.touched)">
                                    <small *ngIf="userPhone?.errors??['required']">telefone é obrigatório.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <button class="btn btn-primary btn-lg w-100" (click)="toggleUserForm()"  [disabled]="userForm.invalid">continuar</button>
                </div>
            </div>
        </div>
    </div>

</div>