<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a class="client-container d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-3">Funcionário</span>
                    <span class="fs-4">{{employee?.name}}</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a routerLink="/funcionario/home" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">página inicial</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/funcionario/solicitacoes" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">solicitações</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/funcionario/funcionarios" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">funcionários</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/funcionario/form-funcionario" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">novo funcionário</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/funcionario/categorias-de-equipamento" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">categorias de equipamento</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4 align-items-center" *ngIf="employee">
                    <span class="d-none d-sm-inline mx-1">{{employee.name}}</span>
                    <button (click)="logout()" class="btn btn-danger">sair</button>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
